.llama-form-field {
  display: inline-block;
  min-width: 200px;

  $form-field: &;

  .llama-label {
    display: block;
    margin-bottom: var(--spacing-1\.5);
    font-size: var(--font-size-sm);
    transition: color var(--transition-default-duration)
      var(--transition-default-function);
  }

  #{$form-field}-focused {
    box-shadow: 0 0 0 1px var(--primary);
    border-color: var(--primary);
  }

  &-invalid {
    .llama-label {
      color: var(--error);
    }

    #{$form-field}--wrapper {
      box-shadow: 0 0 0 1px var(--error);
      border-color: var(--error);

      input.llama-input-element {
        color: var(--error);
      }
    }
  }

  &--wrapper {
    display: flex;
    align-items: center;
    border-radius: var(--rounded);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray);
    background: none;
    outline: none;
    padding: 0 var(--spacing-3\.5);
    height: var(--size-11);
    min-width: 250px;
    box-shadow: var(--shadow);

    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    box-shadow:
      0 0 #0000,
      0 0 #0000,
      var(--tw-shadow);

    transition:
      border-color var(--transition-default-duration)
        var(--transition-default-function),
      box-shadow var(--transition-default-duration)
        var(--transition-default-function);

    // input
    .llama-input-element {
      -webkit-font-smoothing: antialiased;
      height: auto;
      letter-spacing: inherit;
      text-decoration: inherit;
      text-transform: inherit;
      font-size: var(--font-size-md);
      line-height: 1.5rem;
      outline: none;
      width: 100%;
      min-width: 0;
      border: none;
      border-radius: 0;
      background: none;
      appearance: none;
      padding: 0;
      caret-color: var(--primary);
    }
  }

  &--element {
    width: 100%;
  }
}
