.app {
  &-container {
    transition: padding-left var(--transition-duration)
      var(--transition-function);

    app-header {
      border-radius: 0.5rem;
      overflow: hidden;
      display: block;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      top: 1.25rem;
      position: sticky;
    }

    main {
      padding: 1.25rem;
      margin-top: 1.25rem;
    }

    &--expanded {
      padding-left: 260px;
    }

    &--collapsed {
      padding-left: 99px;
    }

    @media (width <= 991px) {
      padding-left: 0;
    }
  }
}
