.app {
  &-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  &-container {
    flex: 1 1 0%;
    height: 100%;
    overflow-y: scroll;
    transition: padding-left 0.3s ease-in-out;

    app-header {
      border-radius: 0.5rem;
      overflow: hidden;
      display: block;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      top: 1.25rem;
      position: sticky;
    }

    main {
      padding: 1.25rem;
      margin-top: 1.25rem;
    }

    &--expanded {
      padding-left: 260px;
    }

    &--collapsed {
      padding-left: 99px;
    }
  }
}
