.app {
  &-layout {
    display: flex;
  }

  &-container {
    flex: 1 1 0%;
    height: 100%;
    transition: padding-left var(--transition-duration)
      var(--transition-function);

    main {
      padding: 1.25rem;
      margin-top: 1.25rem;
    }

    &--expanded {
      padding-left: 260px;
    }

    &--collapsed {
      padding-left: 84px;
    }

    @media (width <= 991px) {
      padding-left: 0;
    }
  }
}
