.llama-card {
  display: flex;
  box-shadow: var(--shadow);
  background: var(--color-white);
  border-radius: var(--rounded);

  &-content {
    display: block;
    padding: var(--padding);
    flex: 1;
  }
}
