@import '@angular/cdk/overlay-prebuilt.css';
@import './app/shared/ui/styles/llama-ui-core.scss';

$app-colors: (
  'black': #242422,
  'white': #fff,
  'green': #30a46c,
  'esmerald': #10b981,
  'blue': #3b82f6,
  'violet': #8b5cf6,
  'red': #ef4444,
  'gray': #e5e7eb,
);

:root {
  // APP COLORS
  @each $color, $value in $app-colors {
    --color-#{$color}: #{$value};
    --color-#{$color}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
  }

  // --color-black-emphasis: rgba(var(--color-black-rgb), 0.1);
  --color-green-emphasis: #1e7d51;

  // --bg-app: #f5f5f9;
  --bg-app: #f2f4f7;

  // config
  --padding: 24px;
  --rounded: 0.375rem;
  --transition-function: ease-in-out;
  --transition-duration: 0.3s;
  --transition-default-function: ease;
  --transition-default-duration: 0.2s;
  // --shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
  --shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);

  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  --spacing-1: 0.25rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-4\.5: 1.125rem;

  --primary: var(--color-green);
  --primary-rgb: var(--color-green-rgb);
  --primary-emphasis: var(--color-green-emphasis);
  --error: var(--color-red);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--bg-app);
  font-size: var(--font-size-sm);
}

/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove default margins and padding
  3. Reset all borders.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0; /* 2 */
  padding: 0; /* 2 */
  border: 0 solid; /* 3 */
}

button,
input,
optgroup,
select,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  background: transparent; /* 2 */
}

/*
  Reset the default inset border style for form controls to solid.
*/

input:where(:not([type='button'], [type='reset'], [type='submit'])),
select,
textarea {
  border: 1px solid;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/
button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}
