<div
  class="sidenav__container"
  [attr.aria-expanded]="state === 'expanded'"
  (mouseenter)="mouseOver()"
  (mouseleave)="mouseLeave()">
  <app-sidenav-brand (chevronClicked)="toggleSidenav()" />
  <ul class="sidenav__menu">
    @for (menuItem of menu; track menuItem) {
      <li class="sidenav__menu-header">
        <span>{{ menuItem.title }}</span>
      </li>
      @for (item of menuItem.items; track item) {
        <li app-sidenav-item [menuItem]="item"></li>
      }
    }
  </ul>
</div>
